<p><%= link_to 'Portugues', root_path(locale: 'pt-BR')%></p>
<p><%= link_to 'English', root_path(locale: 'en')%></p>
<h1>Sejam Bem vindos</h1>
<p>o idioma usado nessa aplicação é: <strong> <%= t('actual_locale') %></strong></p>
<p><strong>Data:</strong><%= l(Date.today) %></p>
<p> <%= t('hello')%> </p>

<%= render "menu" %>

<p>você esta no ambiente de <strong> <%= ambiente_rails %> </strong></p>

<p>Sou variavel de instancia <strong> <%= @meu_nome %> </strong></p>

<p>meu Curso é de  <strong> <%= @curso %> </strong></p>
